# Build Output
**/*.0x
**/.flags
**/_build/**
**/artifacts/**
**/build/**
**/dist/**
**/node_modules/**
**/tsconfig.tsbuildinfo
modules/*/package-lock.json

# Cache
**/.bot-store
**/.buidler
**/.cache
**/.config
**/.git
**/.jest.cache
**/.local
**/.node-gyp
**/.npm
**/.pyEnv
**/.rpt2_cache
**/.test-store
**/cache/**

# Docs
modules/client/docs

# IDEs and editors
**/*.launch
**/*.sublime-workspace
**/*.sw[opq]
**/.c9/
**/.classpath
**/.idea
**/.project
**/.settings/
**/.vscode

# Logs
**/*.*_backup
**/*.log
**/*.patch
cypress/screenshots
cypress/videos

# OS
**/.bash_history
**/.DS_Store

# Sensitive Data
**/.env
**/react-app-env.d.ts
ops/database/snapshots

# Http files
ganache.http
modules/bot/.connext-store/
modules/bot-registry/.node-persist/

.secret

# Local address book
address-book.json
