# Cache
.cache
.config
.node-gyp
.npm
modules/**/.cache
modules/**/.config
modules/**/.node-gyp
modules/**/.npm

# Compiled output
dist/
node_modules/
.makeflags

# Just a copy, the tracked file is in project root
modules/node/src/address-book.json

# Logs
lerna-debug.log*
npm-debug.log*
package.json.lerna_backup
yarn-debug.log*
yarn-error.log*
ops/*.log

# OS
.DS_Store

# Tests
.nyc_output
coverage

# IDEs and editors
*.launch
*.sublime-workspace
*.sw[opq]
.c9/
.classpath
.idea
.project
.settings/

# IDE - VSCode
.vscode

# Misc
.env
.rpt2_cache

# Local packages
counterfactual
