*.class
*.o
*.so
*.pyc
*.sqlite3
.*.sw[a-z]
.sw[a-z]
*~
.DS_Store
bin-debug/*
bin-release/*
bin/*
tags
*.beam
*.dump
env/
.env/
.env
.config
.cache
.node-gyp
.yarnrc
*egg-info*
misc/
/dist/
Icon?
node_modules/
build/
.npm
ops/ganache.log
connext-client/
