.app {
  flex-grow: 1;
  font-family: "proxima-nova", sans-serif;
  /* background-color: #fcfbf3; */
  /* background-color:  //#c8d0de */
  /* background-color: #F4F5F7; */
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex: 1;
  /* padding-bottom: 2.5%;
  padding-top: 2.5%;
  padding-left: 1%;
  padding-right: 1%; */
  font-family: "proxima-nova", sans-serif;
}
.modal_inner {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px black;
  padding: 2% 2% 2% 2%;
  transform: translate(23vmax, 13vmax);
  width: 50%;
}

.modal {
}

.value-entry {
  padding: 1% 0 1% 0;
}

.btn {
  background-color: #002868;
  color: #fff;
  opacity: 0.5;
  width: 60%;

  padding: 4px 4px 4px 4px;
  border-radius: 5px;
}
.btn:hover {
  transition: ease-out 0.2s;
  background-color: #fff !important;
  color: #002868;
  cursor: pointer;
}
.btn:focus {
  outline: #002868;
  color: #fff;
  opacity: 0.5;
}
.btn:disabled {
  opacity: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
