.app{
  margin: 0 auto;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.value-entry{
  padding:1% 0 1% 0;
}

.btn{
  background-color: #002868 ;
  color: #FFF;
  opacity:0.5;

  padding: 4px 4px 4px 4px;
  border-radius:5px;
}
.btn:hover{
  transition: ease-out 0.2s;
  background-color: #FFF !important;
  color:#002868;
  cursor:pointer;
}
.btn:focus{
  outline:none;
}