.app{
  display:flex;
  flex-wrap:wrap;
  flex-basis:50%;
  margin: 0 auto;  
}
.app>h1{
  padding-left:25%;
  padding-right:25%;
  width:50%;
}
.col{
  padding-left:10%;
  padding-top:3%;
}
.value-entry{
  padding:1% 0 1% 0;
}
.btn{
  background-color: #002868 ;
  color: #FFF;
  opacity:0.5;

  padding: 4px 4px 4px 4px;
  border-radius:5px;
}

.btn:hover{
  transition: ease-out 0.2s;
  background-color: #FFF !important;
  color:#002868;
  cursor:pointer;
}
.btn:focus{
  outline:#002868 ;
  color: #FFF;
  opacity:0.5;
}
.btn:disabled{
  opacity:0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}